
@font-face {
    font-family:"ApexNew-Book";
    src:url("ApexNew-Book.woff2") format("woff2"),url("ApexNew-Book.woff") format("woff"),url("ApexNew-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        