
@font-face {
    font-family:"Lucida Sans Regular";
    src:url("Lucida Sans Regular.woff2") format("woff2"),url("Lucida Sans Regular.woff") format("woff"),url("Lucida Sans Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        