
@font-face {
    font-family:"MyriadPro-Regular";
    src:url("MyriadPro-Regular.woff2") format("woff2"),url("MyriadPro-Regular.woff") format("woff"),url("MyriadPro-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        