
@font-face {
    font-family:"MyriadPro-Bold";
    src:url("FontsFree-Net-MYRIADPRO-BOLD.woff2") format("woff2"),url("FontsFree-Net-MYRIADPRO-BOLD.woff") format("woff"),url("FontsFree-Net-MYRIADPRO-BOLD.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        